<section id="banner">
    <div class="inner">
        <h1>
            Yugo Air: <span>
                Najstariji aero klub <br />
            u Srbiji
            </span>
        </h1>
        <ul class="actions">
            <li><a href="#" class="button alt">Vidi vise</a></li>
        </ul>
    </div>
</section>