
<section id="one">
   
    <div class="inner">
        <header>
            <h2>Vazduhoplovni sportovi</h2>
        </header>
        <p>U ponudi imamo sportove opste avijacije, jedrilicarstva, paraglajdinga, padobranstva, ...</p>
         @Html.ActionLink("Obrazac za upis u klub", "Obrazac")
        <ul class="actions">
            <li><a href="#" class="button alt">Vidi vise</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Jedrilicarstvo</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/pic01.jpg" alt="" />
                </div>
                <p>Prvi koraci letenja jedrilicom vezani su za letove na padini i po neki "skok" sa jedne
                padine na drugu</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Padobranstvo</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/pic02.jpg" alt="" />
                </div>
                <p>Za prvog padobranca u svetu smatra se Andre ZAk Garnerin koji je prvi skok izveo skocivsi
                iz balona iznad Pariza davnog 22.oktobra 1797. godine sa visine od 700 metara. Prvom zenom
                padobrankom smatra se njegova supruga Zan Genevijev Labors koja ga je pratila.</p>
            </div>
        </article>
    </div>
</section>

<!-- Three -->
<section id="three">
    <div class="inner">
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Raketno modelarstvo</h3>
                </header>
                <p>Sport koji pruza priliku modelarima da sami naprave svoj vazduhoplovni rekvizit
                i da se sa njime takmice.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Vidi vise</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-diamond"></span>
                <header>
                    <h3>Opsta avijacija</h3>
                </header>
                <p>Sistem sportskih takmicenja u motornom letenju i njihova pravila odredjuje Medjunarodna 
                Vazzduhoplovna Federacija</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Vidi vise</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <span class="icon fa-laptop"></span>
                <header>
                    <h3>Balonarstvo</h3>
                </header>
                <p>Najstariji vazduhoplovni sport. Prvi put kad se covek otisnuo u nebo uradio je to pomocu
                balona sa toplim vazduhom.</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">Vidi vise</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>