
<h2>@ViewBag.Title.</h2>


<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>O nama</h1>
            <p>Aero Klub Yugo Air je sportski klub na teritoriji R.Srbije sa istorijom duzom od 20 godina.</p>
        </header>
        <a href="#" class="image fit"><img src="~/Content/pic11.jpg" alt="" /></a>
        <p>Aktivni je clan Medjunarodne vazduhoplovne avijacije. Klub okuplja 2500 clanova.</p>
        <p>U svom sastavu obuhvatamo sledece vazduhoplovne sportove: padobranstvo, vazduhoplovno jedrilicarstvo, 
        balonarstvo, paraglajding, zmajarstvo, ultralako letenje, opstu avijaciju, aero-modelarstvo (vazduhoplovno i
        raketno modelarstvo). Aeromodelarstvo je neletacki vazduhoplovni sport, dok ostali sportovi spadaju u letacke 
        vazduhoplovne sportove.</p>
        <p>Ciljevi udruzenja su: razvijanje i unapredjenje vazduhoplovnih aktivnosti i vazduhoplovnog sporta,
        usmeravanje mladih ljudi da se baveci se vazduhoplovnim sportom vaspitavaju u duhu tradicije, patriotizma,
        tolerancije i prijateljstva, okupljanje sportista na takmicenjima.</p>
    </div>
</section>
